/* reset rules */

  /* note: universal selector doesn't seem to work on bootstrap's elements */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {

    /* to overwrite browser's style */
    text-decoration: none;
    color: black;
  }

  li {

    /* to overwrite browser's style */
    list-style-type: none;
  }
/* /reset rules */

/* rules used (or usable) in different parts of the page */

  /* to center a box both vertically and horizontally in its parent */
  .absolute-centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* /rules used (or usable) in different parts of the page */

/* rules used in specific parts of the page */
  #navbar .row-lower-res {
    height: 90px;
    background-color: green; /* debug */
  }

  #navbar .row-lower-res svg {
    fill: white;
  }

  #navbar .row-lower-res .my_fa-bars {
    float: right;

    /* to center it in the navbar */
    line-height: 90px;
    color: white;

    opacity: 0.5;
  }

  #navbar .first-row-higher-res {
    height: 40px;
    background-color: pink; /* debug */
  }

  #navbar .second-row-higher-res {
    height: 65px;
    background-color: grey; /* debug */
  }

  #navbar .second-row-higher-res svg {
    fill: rgb(68, 145, 255);
  }

  #navbar .second-row-higher-res nav {
    display: inline-block;
  }

  #navbar .second-row-higher-res .btn {
    float: right;

    /* to align it vertically */
    margin-top: 16px;

    border: 1px solid rgb(68, 145, 255);
    border-radius: 5px;
    font-weight: bold;
  }

  #navbar .second-row-higher-res .btn-default {
    color: rgb(68, 145, 255);
  }
/* /rules used in specific parts of the page */

/* rules for specific width ranges */
  @media screen and (max-width: 991px) {

    /* rules used in specific parts of the page */
    #navbar .first-row-higher-res,
    #navbar .second-row-higher-res  {
      display: none;
    }
    /* /rules used in specific parts of the page */

  }

  @media screen and (min-width: 992px) {

    /* rules used in specific parts of the page */
    #navbar {
      background-color: white;
    }

    #navbar .row-lower-res {
      display: none;
    }
    /* /rules used in specific parts of the page */

  }
/* /rules for specific width ranges */
